@media screen and (min-width: 575px) {
  .container {
    padding: 0 35px;
  }
  h3 {
    font-size: 30px;
    margin: 50px 0;
  }
  .section__home--title {
    font-size: 34px;
    line-height: 45px;
  }
  .section__home--p {
    font-size: 16px;
    line-height: 24px;
  }
  .section__home--btn {
    width: 305px;
    height: 75px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  .skills__card {
    width: 240px;
    margin: 15px 0;
  }
  .skills__card--btn {
    width: 200px;
  }
}
